*{
	padding: 0;
	margin: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../e8.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;

}

ul{

	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 2px solid transparent;
	border-collapse: collapse;
	transition: 0.6s ease;
	margin: auto;
}
ul li a:hover{
	background-color: #fab76b;
	color: #000;
}
ul li.active a{
	background-color: #fab76b;
	color: #000;

}
.logo img{
	float: left;
	width: 100px;
	height: auto;
	top: auto;
	background-color: transparent;
		}
.main{
	max-width: 1200px;
	margin: auto;
	}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	text-decoration: none;
	border: 2px solid transparent;
	color: #fab76b;
	font-size: 50px;
}
.title h4{
	text-decoration: none;
	border: 2px solid transparent;
	color: #FF0000;
	font-size: 30px;
	justify-content: center;
}
.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.button a{
	 background-color: #fab76b; 
  border: none;
  color: red;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.6s ease transparent;
}