body{
	background-image: url(../is.jpg);
background-size: cover;
	
}

form {border: 3px solid #0057B3;
width: 500px;
  padding: 20px;
    margin: 8% auto 0;
    text-align: center;
background-image: url();
border-radius: 50px ;
height: 500px;

}




.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;

}

img.avatar {
  width: 10%;
  border-radius: 15%;
  border: 3px solid #0057B3;
}
input[type=text], input[type=Email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid orange;
  box-sizing: border-box;
  border-radius: 20px;
}
button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 30px;
}
.container label {
  padding: 16px;
color: yellow;


}